@model HomeWork1.Models.MoneyModels
    <tr>
        <td>@Model.Number</td>
        <td>@Model.Category</td>
        <td>@Model.Date</td>
        <td>@Model.Money</td>
        @*<td>@Model.Remarks</td>*@
    </tr>
